<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Welcome</p>

        <footer>
            <p>Copy right {{currentYear}}</p>
        </footer>
    </body>
</html>